services:
  postgres:
    image: postgres:15
    container_name: postgres_db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=
      - POSTGRES_DB=projeto-financas
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: